{% extends "layout.html" %} {% block body %}

<h1 class="title section-title">{{title}}</h1>

<div class="container">

    <hr>

    <form method="post" id="analise-forms">

        <div class="analise-selecionada" id="analise-selecionada">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="analise" id="analise-atrasos"
                    value="Análise de Atrasos" checked>
                <label class="form-check-label" for="analise-atrasos">
                    Análise de atrasos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="analise" id="analise-conformidade"
                    value="Análise de não Conformidade" {% if analise_selecionada=="Análise de não Conformidade" %}
                    checked {% endif %}>
                <label class="form-check-label" for="analise-conformidade">
                    Análise de não conformidade
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <label class="input-title" for="cormapa">Coloração do Mapa</label>
                <select class="form-control" id="cormapa" name="cormapa">
                    {% for cor in cores %}
                    <option value="{{cor}}" {% if cor_selecionada==cor %} selected {% endif %}>{{cor}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 form-group">
                <label class="input-title" for="ano">Ano</label>
                <select class="form-control" id="ano" name="ano">
                    {% for ano in anos %}
                    <option value="{{ano}}">{{ano}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% if analise_selecionada == "Análise de não Conformidade" %}
        <div class="row row-last" style="display: none!important;">
            <div class="col-6 form-group">
                <label class="input-title" for="entidade">Tipo de Fornecedor</label>
                <select class="form-control" id="entidade" name="entidade">
                    {% for entidade in entidades %}
                    <option value="{{entidade}}" {% if entidade_selecionada==entidade %} selected {% endif %}>
                        {{entidade}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 form-group">

                <div class="limite-selecionado">
                    <label class="input-title" for="limite-empenho">Valor de Empenho</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="limite-empenho" id="nao-aplicado"
                            value="Não aplicado" checked>
                        <label class="form-check-label" for="nao-aplicado">Não aplicado</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="limite-empenho" id="maior-que"
                            value="Maior que" {% if limite_selecionado=="Maior que" %} checked {% endif %}>
                        <label class="form-check-label" for="maior-que">Maior que</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="limite-empenho" id="menor-que"
                            value="Menor que" {% if limite_selecionado=="Menor que" %} checked {% endif %}>
                        <label class="form-check-label" for="menor-que">Menor que</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="limite">R$</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Não aplicado" aria-label="Limite"
                        aria-describedby="limite" id="valor-limite" name="valor-limite" value="Não aplicado" disabled>
                </div>

            </div>
        </div>

        {% else %}
        <div class="row row-last">
            <div class="col-6 form-group">
                <label class="input-title" for="entidade">Tipo de Fornecedor</label>
                <select class="form-control" id="entidade" name="entidade">
                    {% for entidade in entidades %}
                    <option value="{{entidade}}" {% if entidade_selecionada==entidade %} selected {% endif %}>
                        {{entidade}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 form-group">

                <div class="limite-selecionado">
                    <label class="input-title" for="limite-empenho">Valor de Empenho</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="limite-empenho" id="nao-aplicado"
                            value="Não aplicado" checked>
                        <label class="form-check-label" for="nao-aplicado">Não aplicado</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="limite-empenho" id="maior-que"
                            value="Maior que" {% if limite_selecionado=="Maior que" %} checked {% endif %}>
                        <label class="form-check-label" for="maior-que">Maior que</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="limite-empenho" id="menor-que"
                            value="Menor que" {% if limite_selecionado=="Menor que" %} checked {% endif %}>
                        <label class="form-check-label" for="menor-que">Menor que</label>
                    </div>
                </div>

                {% if method == "GET" or limite_selecionado == "Não aplicado" %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="limite">R$</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Não aplicado" aria-label="Limite"
                        aria-describedby="limite" id="valor-limite" name="valor-limite" value="Não aplicado" disabled>
                </div>

                {% else %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="limite">R$</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Limite" aria-describedby="limite"
                        id="valor-limite" name="valor-limite" value="{{valor_selecionado}}" required>
                </div>
                {% endif %}

            </div>
        </div>
        {% endif %}


        <div class="col-md-12 text-center">
            <button class="btn btn-default btn-md button-style" type="submit">Aplicar</button>
        </div>

    </form>

    {% if method == "POST" %}
    <hr>
    <iframe class="map col-lg-12 col-md-12 col-sm-12 col-12 .col-xl-12" height="440" src="/{{mapa_selecionado}}"></iframe>

    <form action="#" class="map-form">
        <div class="row">
            <div class="col-6 form-group">
                <label class="input-title" for="municipio">Unidade Jurisdicionada</label>
                <select class="form-control" id="municipio" name="municipio">
                    {% for municipio in municipios %}
                    <option value="{{ municipio }}" {% if municipio_selecionado==municipio %} selected {% endif %}>{{
                        municipio }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 form-group">
                <label class="input-title" for="cormapa">Unidade Orçamentária</label>
                <select class="form-control" id="cormapa" name="cormapa">
                    <option value="unidade1">Unidade1</option>
                </select>
            </div>
        </div>
    </form>

    {% endif %}

</div>

{% endblock %}