{% extends "layout.html" %} {% block body %}

<div class="container">
    <h1 class="title section-title">{{page_title}}</h1>

    <hr>

    <form method="post">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-4 form-group">
                <label class="input-title" for="city">Unidade Jurisdicionada</label>
                <select class="form-control" id="city" name="city" {% if user_request=="POST" %}
                    onchange="document.getElementById('apply').click()" {% endif %}>
                    {% for city in options_city %}
                    <option value="{{ city }}" {% if selected_city==city %} selected {% endif %}>{{
                        city }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col"></div>
        </div>

        {% if user_request == "GET" %}
        <div class="text-center">
            <button class="btn btn-default btn-md button-style" type="submit" name="action" value="apply"
                id="apply">Aplicar</button>
        </div>
        {% elif user_request == "POST" %}
        <div class="text-center hidden">
            <button class="btn btn-default btn-md button-style" type="submit" name="action" value="apply"
                id="apply">Aplicar</button>
        </div>
        {% endif %}
    </form>

    <br>

    {% if user_request == "POST" %}
    <div class="table-responsive">
        <table class="table-description" style="width: 50%; margin-left: auto; margin-right: auto;">
            <thead>
                <tr scope="col">
                    {% for col in cols_general_description%}
                    <th style="text-align: center;">{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                <tr>
                    {% for attr in rows_general_description%}
                    <td style="text-align: center;">{{attr}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-hover matching-table">

            <thead>
                <tr scope="col">
                    {% for col in cols %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for idx, row in enumerate(rows) %}
                <tr value={{idx}} style="cursor: pointer;">
                    {% for attr in row %}
                    <td>{{attr}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <br>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-window"
        style="display: none;" id="modal-button"></button>

    <div class="modal fade" id="modal-window">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Pagamentos</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="text-align: center;">
                <h7>A pontuação da consulta foi <strong>{{ score }}</strong>.</h7>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
                </div>

            </div>
        </div>
    </div>

    <script>

        $(".table-hover").on("click", "tbody tr", function () {
            $(".modal-body").empty();
            var value = $(this)[0].attributes.value.value;
            var data = {{ modals | safe}}[value];

            var table = "<table class='table table-hover matching-table'> <thead> <tr scope='col'>";
            
            var objs = [];
            let description = "Inconforme";
            for (var i = 0; i < data.length; i++) {
                if ((typeof data[i]) !== "string") {
                    objs.push(data[i]);
                } else {
                    var str = data[i];
                    description = str.charAt(0).toUpperCase() + str.slice(1);
                }
            }
            
            var cols = Object.keys(objs[0]);
            var rows = objs.map(function (x) { return Object.values(x); });

            cols.forEach((x, i) => {
                table = table + "<th scope='col'>" + x + "</th>";
            });

            table = table + "</tr></thead> <tbody>";

            rows.forEach((row, i) => {
                table = table + "<tr>";

                row.forEach((attr, j) => {
                    table = table + "<td>" + attr + "</td>";
                })
                
                table = table + "</tr>";
            });

            table = table + "</tbody> </table>";
            
            table = table + "<div class='row'> <div class='col'></div> <div class='col'> <div class='card' style='width: 18rem;'> <div class='card-body' style='text-align: center;'> <h7> <strong>" + description + "</strong></h7> </div> </div> </div> <div class='col'></div> </div>"


            $(".modal-body").append(table);

            $("#modal-button").click();
        });
    </script>
    {% endif %}

</div>

<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "chinese-string-asc": function (s1, s2) {
            return s1.localeCompare(s2);
        },

        "chinese-string-desc": function (s1, s2) {
            return s2.localeCompare(s1);
        }
    });

    $(document).ready(function () {
        $(".table").DataTable({
            serverSide: false,
            paging: false,
            info: false,
            searching: false,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json"
            },
            columnDefs: [
                { type: "num", "targets": [0, 1] },
                { type: "chinese-string", targets: 2 },
                { orderable: true, targets: [0, 1] },
                { orderable: false, targets: "_all" }
            ],
            order: [[0, "asc"]]
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".table-description").DataTable({
            serverSide: false,
            info: false,
            paging: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: "_all" }
            ]
        });
    });
</script>

{% endblock %}