{% extends "layout.html" %} {% block body %}

<div class="container">
    <h1 class="title section-title">{{title}}</h1>

    <hr>

    <form method="post">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-4 form-group">
                <label class="input-title" for="city">Unidade Jurisdicionada</label>
                <select class="form-control" id="city" name="city">
                    {% for city in city_options %}
                    <option value="{{ city }}" {% if city_selected==city %} selected {% endif %}>{{
                        city }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col"></div>
        </div>

        <div class="text-center">
            <button class="btn btn-default btn-md button-style" type="submit" name="action"
                value="aplicar">Aplicar</button>
        </div>
    </form>

    <br>

    {% if method == "POST" %}
    <table class="table" style="width: 50%; margin-left: auto; margin-right: auto;">
        <thead>
            <tr scope="col">
                {% for col in columns_general_descriptions%}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                {% for attr in row_general_descriptions%}
                <td>{{attr}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <table class="table table-hover correspondencia-table">

        <thead>
            <tr scope="col">
                {% for col in columns %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for i in range(rows|length) %}
            <tr value={{i}} style="cursor: pointer;">
                {% for attr in rows[i] %}
                <td>{{attr}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <br>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-window"
        style="display: none;" id="modal-button"></button>

    <div class="modal fade" id="modal-window">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Pagamentos</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".table-hover").on("click", "tbody tr", function () {
                // remove previous data from modal window
                $(".modal-body").empty();

                // get data
                var rowIdx = $(this)[0].attributes.value.value;
                var data = {{ payment_rows | safe}}[rowIdx];

                // table header
                var table = '<table class="table">';
                table += '<thead><tr><td>VALOR</td><td>Data Pag.</td><td>Data Liq.</td><td>Descrição</td></tr></head>';

                // table body
                table += '<tbody>'
                for (i = 0; i < data.length; i++) {
                    var descricao = data[i][1];
                    var empenho = JSON.parse(data[i][0]);

                    table += '<tr>' + '<td>' + empenho.VALOR + '</td>' + '<td>' + empenho.DATA_PAG + '</td>' + '<td>' + empenho.DATA_LIQ + '</td>' + '<td>' + descricao + '</td>' + '</tr>'
                }
                table += '</tbody></table>'

                $(".modal-body").append(table);
                // show modal
                document.getElementById("modal-button").click();
            });


            $(document).on("click");
        });
    </script>
    {% endif %}

</div>


{% endblock %}