{% extends "layout.html" %} {% block body %}

<h1 class="title section-title">{{page_title}}</h1>

<div class="container">

    <hr>
    <div>
        <iframe class="map col-lg-12 col-md-12 col-sm-12 col-12 .col-xl-12" height="400" srcdoc="{{mapa}}"></iframe>
    </div>

    <form method="post">
        <div class="row">

            <div class="col-sm-5 form-group">
                <label class="input-title" for="city">Unidade Jurisdicionada</label>
                <select class="form-control" id="city" name="city" onchange="document.getElementById('aplica').click()">
                    {% for city in city_options %}
                    <option value="{{ city }}" {% if selected_city==city %} selected {% endif %}>{{ city }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 form-group">
                <label class="input-title" for="payment">Tipo de Pagamento</label>
                <select class="form-control" id="payment" name="payment"
                    onchange="document.getElementById('mudaano').click()">
                    {% for payment in payment_types %}
                    <option value="{{ payment }}" {% if selected_payment==payment %} selected {% endif %}>{{ payment }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2 form-group">
                <label class="input-title" for="year">Ano</label>
                <select class="form-control" id="year" name="year"
                    onchange="document.getElementById('mudaano').click()">
                    {% for year in year_options %}
                    <option value="{{ year }}" {% if selected_year==year %} selected {% endif %}>{{ year }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2 form-group">
                <label class="input-title" for="day">Dias de Tolerância</label>
                <select class="form-control" id="day" name="day" onchange="document.getElementById('mudaano').click()">
                    {% for day in days_of_tolerance %}
                    <option value="{{ day }}" {% if selected_day==day %} selected {% endif %}>{{
                        day }}
                    </option>
                    {% endfor %}
                </select>
            </div>


        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-default btn-md button-style" name="action" value="apply" id="posta"
                type="submit">Aplicar</button>
        </div>

        <div class="text-center hidden">
            <button class="btn btn-default btn-md button-style" type="submit" name="action" value="mudaano"
                id="mudaano">Atualizar</button>
        </div>

        <br>

        {% if user_request == "POST" and acao != 'mudaano' %}

        <div class="row">
            <div class="col-12 form-group">
                <label class="input-title" for="source">Unidade Orçamentária + Fonte de Recursos</label>
                <select class="form-control" id="source" name="source"
                    onchange="document.getElementById('update').click()">
                    {% for source in sources %}
                    <option value="{{ source }}" {% if selected_source==source %} selected {% endif %}>{{
                        source }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

</div>

<div class="text-center hidden">
    <button class="btn btn-default btn-md button-style" type="submit" name="action" value="update2"
        id="aplica">Atualizar</button>
</div>

<div class="text-center hidden">
    <button class="btn btn-default btn-md button-style" type="submit" name="action" value="update"
        id="update">Atualizar</button>
</div>

<br>
{% endif %}

</form>


{% if show_table %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="text-align: center;">
                <h7>A pontuação da consulta foi <strong>{{ score }}</strong>.</h7>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<hr>

<div class="table-responsive">
    <table class="table table-hover queue-table" cellspacing="0" width="100%">

        <thead>
            <tr scope="col">
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for k in rows %}
            {% for i in k[6] %}

            <tr>
                <td> {{ i[0] }} </td>

                <td> {{ i[4] }} </td>
                <td> {{ i[2] }} </td>
                <td> {{ i[3] }} </td>
                <td> {{ k[1].strftime("%Y-%m-%d") }} </td>

                <td> {{ k[5] }} </td>
                <td> {{ k[4] }}</td>
            </tr>

            {% endfor %}
            {% endfor %}
        </tbody>

    </table>
</div>
<br>
{% endif %}

</div>

<script>
    $(document).ready(function () {
        $('.queue-table').DataTable({
            serverSide: false,
            info: false,
            paging: false,
            searching: false,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json'
            },
            columnDefs: [
                { type: "num", "targets": [2, 3, 5, 6] },
                { orderable: true, targets: [2, 3, 5, 6] },
                { orderable: false, targets: '_all' }
            ],
            order: [[6, "desc"]]
        });
    });
</script>

{% endblock %}