{% extends "layout.html" %} {% block body %}

<div class="container">
    <h1 class="title section-title">{{page_title}}</h1>

    <hr>

    <form method="post">
        <div class="row justify-content-center">

            <div class="col-sm-4 form-group">
                <label class="input-title" for="year">Ano</label>
                <select class="form-control" id="year" name="year">
                    {% for year in options_year %}
                    <option value="{{ year }}" {% if selected_year==year %} selected {% endif %}>{{
                        year }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-sm-4 form-group">
                <label class="input-title" for="entity">Tipo de Fornecedor</label>
                <select class="form-control" id="entity" name="entity">
                    {% for entity in options_entity %}
                    <option value="{{ entity }}" {% if selected_entity==entity %} selected {% endif %}>{{
                        entity }}
                    </option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row justify-content-center" style="margin-top: 15px;">

            <div class="col-sm-4 form-group">
                <label class="input-title" for="limit">Limite de Atraso</label>
                <select class="form-control" id="limit" name="limit">
                    {% for limit in options_limit %}
                    <option value="{{ limit }}" {% if selected_limit==limit %} selected {% endif %}>{{
                        limit }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-4 form-group">
                <label class="input-title" for="loan_type">Tipo de Empenho</label>
                <select class="form-control" id="loan_type" name="loan_type">
                    {% for loan_type in options_loan_types.keys() %}
                    <option value="{{ loan_type }}" {% if selected_loan_type==loan_type %} selected {% endif %}>{{ loan_type }}
                    </option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="text-center">
            <button class="btn btn-default btn-md button-style" type="submit" name="action" value="apply"
                id="apply">Aplicar</button>
        </div>

        {% if user_request == 'POST' %}
        <iframe class="col-lg-12 col-md-12 col-sm-12 col-12 .col-xl-12" height="440" srcdoc="{{selected_map}}" style="margin-top: 20px; margin-bottom: 15px;"></iframe>
  
        
        <div class="row justify-content-center">

            <div class="col-sm-4 form-group">
                <label class="input-title" for="city">Unidade Jurisdicionada</label>
                <select class="form-control" id="city" name="city" onchange="document.getElementById('update').click()">
                    {% for city in options_city %}
                    <option value="{{ city }}" {% if selected_city==city %} selected {% endif %}>{{ city }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-8 form-group">
                <label class="input-title" for="source">Unidade Orçamentária + Fonte de Recursos</label>
                <select class="form-control" id="source" name="source" onchange="document.getElementById('update').click()">
                    {% for source in options_source %}
                    <option value="{{ source }}" {% if selected_uo_source==source %} selected {% endif %}>{{
                        source }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
        </div>

        <iframe class="col-lg-12 col-md-12 col-sm-12 col-12 .col-xl-12" height="440" srcdoc="{{plot_data}}"></iframe>
        
        <div class="text-center hidden">
            <button class="btn btn-default btn-md button-style" type="submit" name="action" value="update"
                id="update">Atualizar</button>
        </div>
        
        <br>

        {% endif %}
    </form>



</div>

{% endblock %}