{% extends "layout.html" %} {% block body %}

<div class="container">
    <h1 class="title section-title">{{page_title}}</h1>

    <hr>

    <form method="post">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-10 form-group">
                <label class="input-title" for="entity">Entidade</label>
                <select class="form-control" id="entity" name="entity"
                    onchange="document.getElementById('apply').click()">
                    {% for idx, entity in enumerate(options_entity) %}
                    <option value="{{ idx }}" {% if selected_entity==idx %} selected {% endif %}>{{
                        entity }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col"></div>
        </div>

        <div class="text-center hidden">
            <button class="btn btn-default btn-md button-style" type="submit" name="action" value="apply"
                id="apply">Aplicar</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover tb_info" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for month in entity_info["months"] %}
                    <th scope="col">{{ month }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">SIMBA</th>
                    {% for value in entity_info["simba"] %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Sagres</th>
                    {% for value in entity_info["sagres"] %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <img src="{{ url_for("static", filename="assets/plot.png" ) }}" class="img-fluid mx-auto d-block">

</div>

{% endblock %}