.row-insert {
    margin-bottom: 10px;
}

.input-title{
    margin-bottom: 5px;
    font-size: 15px;
}

.button-style {
    color: white;
    background-color: #B82C64;
    width: 120px;
    margin-top: 10px;
}

.map-form {
    margin-bottom: 35px;
}

.map {
    margin-bottom: 15px;
}

.analysis-selected {
    /* background-color: red; */
    margin-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
}

#analysis-form .row-last {
    margin-top: 20px;
}